<footer class="footer">
    <small>
        <a href="http://stewsmith.co/">Stem Step</a>
        by Stew Smith
    </small>
    <nav>
        <ul>
            <li><%= link_to "About", '#' %></li>
            <li><%= link_to "Contact", '#' %></li>
            <li><a href="http://colors.stewsmith.co/">Colors</a></li>
        </ul>
    </nav>
</footer>
